
.Logo {
    height: 12vmin;
    width: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(17,41,56);
    color: white;
    border-radius: 2vmin;
  
    font-size: 2.7vmin;
    font-family: 'VT323-Regular';
    border: .6vmin solid #F07A0F;
    position: relative; // Needed to make sure the glitched spans are placed correctly
    
  
  .glitch {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  
    animation: glitch 500ms infinite;
  }
  text-shadow: 
    0.05em 0 0 rgba(236,98,80,0.75),   
    -0.025em -0.05em 0 rgba(250, 171, 75,0.75),
    0.025em 0.05em 0 rgba(17,41,56,0.75);
  
  .glitch span {
    position: relative;
    top: 100;
    left: 0;
     color: red;
    z-index: 1;
    clip-path: polygon(21% 19%, 0 64%, 100% 68%);
    transform: translate(-1.55em, -0.05em);
    color: green;
    opacity: 0.8;
  }
  
  .Logo .glitch span:first-child {
    animation: glitch 200ms infinite;
    color: red;
    z-index: 1;
    clip-path: polygon(21% 19%, 0 64%, 100% 68%);
    transform: translate(-1.55em, -0.05em);
    color: green;
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 1375ms infinite;
    color: red;
    z-index: 1;
    clip-path: polygon(0 47%, 35% 95%, 99% 0);
    transform: translate(1.5em, 2.025em);
    /* color: red; */
    opacity: 0.8;
  }
  
  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(236,98,80,0.75),
        -0.05em -0.025em 0 rgba(250, 171, 75,0.75),
        -0.025em 0.05em 0 rgba(17,41,56,0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(236,98,80,0.75),
        -0.05em -0.025em 0 rgba(250, 171, 75,0.75),
        -0.025em 0.05em 0 rgba(17,41,56,0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(236,98,80,0.75),
        0.025em 0.025em 0 rgba(250, 171, 75,0.75),
        -0.05em -0.05em 0 rgba(17,41,56,0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(236,98,80,0.75),
        0.025em 0.025em 0 rgba(250, 171, 75,0.75),
        -0.05em -0.05em 0 rgba(17,41,56,0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(236,98,80,0.75),
        0.05em 0 0 rgba(250, 171, 75,0.75), 0 -0.05em 0 rgba(17,41,56,0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(236,98,80,0.75),
        0.05em 0 0 rgba(250, 171, 75,0.75), 0 -0.05em 0 rgba(17,41,56,0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(236,98,80,0.75),
        -0.025em -0.025em 0 rgba(250, 171, 75,0.75),
        -0.025em -0.05em 0 rgba(17,41,56,0.75);
    }
  }
  
}